<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:**/*.properties</value>
			</list>
		</property>
	</bean>

	<import resource="classpath:config/datasource_mysql.xml" />
	<!-- <import resource="classpath:spring/spring_beans.xml" />
	<import resource="classpath:spring/spring_servlet.xml" />
	<import resource="classpath:spring/spring_thread.xml" />
	<import resource="classpath:spring/spring_cache.xml" />
	<import resource="classpath:spring/spring_quartz.xml" />
	<import resource="classpath:spring/spring_task.xml" /> -->


</beans>